
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}
h1, h2 {
    font-family: Blippo, fantasy;
}
h3, h4, h5 {
    font-family: Marker Felt, fantasy;
}
/* Style the header */
header {

    background-image: radial-gradient(#145A32, #27AE60, #A9DFBF);    
    padding: 30px;
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    border-radius: 12px;
    text-shadow: 2px 2px 4px #000000;
    outline-color: #145A32;
}
.logo {
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 5px #145A32;
}
header > h2 {
    display: inline;
}
header > h2 img {
    
    margin:0 5px 0 0;
}
/* Header Nav CSS */
nav {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: rgb(4, 41, 19);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
/* Footer Nav CSS */
.footer_nav {
    
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    
}
.footer_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: none;
}

/* .footer_nav li {
    clear: left;
    
}

.footer_nav a {
    
    display:block;
    color: rgb(221, 241, 224);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer_nav a:hover:not(.active) {
    background-color: #ddd;
} */
.a-info {
    font-weight: normal;
    text-decoration: none;
}

/* Styling for a span for Scooter's */
.scooters {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-shadow: rgb(3, 36, 16);
    color: #145A32;
}
.info p {
    padding: 10px;
    
 
}
.info h5 {
    font-weight: bolder;
    font-size: medium;
}
/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex; /*initiates flexbox*/
    flex-direction: row; /*user column to have them verticle rows, horizontal orientation is row */
}

/* Create three equal columns that sit next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px;
    height: auto;
    text-align: center;
    background-color: #e5e4d7;
    border: 3px;
    border-style: inset;
    border-color: #145A32;
    border-radius: 12px;

}

/* Style the footer */
footer {
  background-image: radial-gradient(#145A32, #27AE60, #A9DFBF);    
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #000000;
    outline-color: #145A32;
}
footer > p > a {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
footer > p > a:hover {
background-color: #27AE60;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
        
    }
    header > h2 {
        font-size: 18px;
    }
    form textarea {
        width: 200px;
        font-size: small;
    }
    form select {
        font-size: small;
    }
    .text {
        width: 50px;
        font-size: small;
    }
}

.info > .row {
    flex-direction: column;
}

.active {
    background-color: #4CAF50;  
} 

/* Image Thumbnails */
.thumb {

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

}

thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* .photo_carousel > .row{
    flex-direction: row;
}
.photo_carousel > .column {
    text-align: center;
    margin: auto;
}
.pic { 
    display:block;
    float:none;
    text-align: center;
    width: 400px;
}*/
.carousel {
    margin: auto;
    width: 50%;
    height: 100%;
} 
.photo_container .row {
    flex-direction: column;
}
/* CSS for Picture frame for scooter future home photo */
.future_home {
    width: 75%;
    height: auto;
    border:double;
    border-color: rgb(3, 36, 16);
}
/* CSS for Media Buttons */
 .fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
    opacity: 0.7; 
}

form textarea {
    width: 75%;
    height: 100px;
}
form select {
    width: 100px;
}

.bikes_ul ul {
    background-color: darkgreen;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    border-color: green;
    border-radius: 10px;
    border-style: ridge;
    border-width: 2px;
}

.bikes_ul li {
    float: none;
    color: whitesmoke;
}

.bikes_ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.button {
  background-color: rgb(24, 77, 26); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  
  color: whitesmoke; 
  border: 2px solid rgb(135, 228, 138);
  border-style: ridge;
  font-family: fantasy;
}
.button:hover {
    background-color: #145A32
}
